@use 'components/shared/styles/mixins' as *;

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden; /* Prevent double scrollbars */

    .deriv-header {
        background: var(--general-main-1);
        height: 4.9rem;
        width: 100%;
        flex-shrink: 0;

        @include mobile-or-tablet-screen {
            height: 4rem;
        }
    }
}
