.definition__popover-content {
    max-width: 250px;
    padding: 8px
}

.definition__popover-title {
    color: var(--du-general-main-1);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px
}

.definition__popover-text {
    color: var(--du-general-main-3);
    font-size: 12px;
    font-weight: 400
}

.contract-type-info__video .guide-video,
.contract-type-info__video .guide-video__preview {
    border-radius: var(--core-borderRadius-400);
    position: relative
}

.contract-type-info__video .guide-video__preview {
    height: 27rem;
    width: 51.8rem
}

.contract-type-info__video .guide-video__preview__icon {
    fill: var(--component-textIcon-normal-prominent);
    left: 53%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -53%)
}

.contract-type-info__video .guide-video__preview__icon__wrapper {
    background-color: var(--semantic-color-slate-solid-surface-normal-lowest);
    border-radius: 50%;
    height: 4.5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4.5rem
}

.contract-type-info__video .guide-video iframe {
    border-radius: var(--core-borderRadius-400)
}

[dir=ltr] .contract-type-info__video .guide-video:before {
    left: 0
}

[dir=rtl] .contract-type-info__video .guide-video:before {
    right: 0
}

.contract-type-info__video .guide-video:before {
    background-color: var(--core-color-opacity-black-200);
    border-radius: var(--core-borderRadius-400);
    content: "";
    display: block;
    height: 27rem;
    position: absolute;
    top: 0;
    width: 51.8rem
}

.contract-type-info__video .guide-video__wrapper {
    align-items: center;
    border-top: none !important;
    display: flex;
    gap: 0 !important;
    justify-content: space-between;
    margin-top: 0 !important;
    padding-top: 0 !important
}

.contract-type-info__video .guide-video__description {
    flex-grow: 1
}

.wheel-picker {
    background: var(--general-main-1);
    display: flex;
    height: 7.6rem;
    margin-top: .8rem;
    padding: .8rem;
    position: relative;
    width: 100%
}

.wheel-picker__wheel {
    height: 6.8rem;
    text-align: center;
    width: 100%
}

.wheel-picker__wheel__placeholder {
    height: 1.8rem
}

.wheel-picker__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.wheel-picker__actions__btn {
    background: var(--general-section-1);
    min-width: 1.6rem;
    padding: 0 .8rem
}

.wheel-picker__actions__btn :disabled .chevron-icon svg {
    stroke: #f2f3f4
}

.wheel-picker__actions--chevron-up {
    transform: rotate(180deg)
}

.wheel-picker-mobile {
    -webkit-overflow-scrolling: auto;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    height: 13rem;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: none;
    width: 100%
}

.wheel-picker-mobile .picker-selected-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.wheel-picker-mobile .picker-selected-wrapper .picker-selected {
    background: var(--general-active);
    border-radius: .5rem;
    height: 3.2rem;
    position: relative;
    width: 100%
}

.wheel-picker-mobile .picker-selected-wrapper .picker-selected .currency-label {
    color: var(--text-prominent);
    font-size: 1.8rem;
    padding-top: .7rem
}

.wheel-picker-mobile .picker-viewport {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.wheel-picker-mobile .picker-viewport .picker-wheel {
    position: relative
}

.wheel-picker-mobile .picker-viewport .picker-wheel__options {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative
}

.payout-per-point-input {
    padding-bottom: 0
}

.payout-per-point-input .popover_wrapper_class {
    margin-top: .3rem
}

.payout-per-point-input .popover_wrapper_class .dc-popover__container {
    margin-top: 5.8rem
}

.payout-per-point-input .actions-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: .6rem
}

.payout-per-point-input .actions-wrapper .distance-to-current-spot {
    display: flex
}

.payout-per-point-input .actions-wrapper .distance-to-current-spot .barrier-value {
    background-color: var(--general-section-1);
    border: none;
    border-bottom: 1px dotted var(--text-general);
    cursor: pointer;
    display: flex;
    margin-bottom: .8rem;
    padding: 0
}

[dir=ltr] .payout-per-point-input .actions-wrapper .distance-to-current-spot .barrier-value .indicator-icon {
    margin-left: .2rem
}

[dir=rtl] .payout-per-point-input .actions-wrapper .distance-to-current-spot .barrier-value .indicator-icon {
    margin-right: .2rem
}

.payout-per-point-input .actions-wrapper .distance-to-current-spot .barrier-value .indicator-icon {
    margin-top: .3rem
}

.payout-per-point-mobile {
    background: var(--general-section-1);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: .6rem .8rem;
    width: 100%
}

.payout-per-point-mobile__header {
    display: flex;
    padding: .8rem
}

.payout-per-point-mobile__header__title {
    display: flex;
    gap: 0
}

[dir=ltr] .payout-per-point-mobile__header .popover-icon {
    margin-left: .8rem
}

[dir=rtl] .payout-per-point-mobile__header .popover-icon {
    margin-right: .8rem
}

.payout-per-point-mobile__header .popover-icon {
    margin-top: .2rem
}

[dir=ltr] .payout-per-point-mobile__header .cross-icon {
    margin-left: auto
}

[dir=rtl] .payout-per-point-mobile__header .cross-icon {
    margin-right: auto
}

.payout-per-point-mobile__header .cross-icon {
    margin-top: .2rem
}

.payout-per-point-mobile .actions-wrapper {
    display: flex;
    justify-content: center
}

.payout-per-point-mobile .actions-wrapper .distance-to-current-spot {
    display: flex;
    justify-content: center;
    margin-top: .2rem
}

[dir=ltr] .payout-per-point-mobile .actions-wrapper .distance-to-current-spot__value {
    margin-left: .4rem
}

[dir=rtl] .payout-per-point-mobile .actions-wrapper .distance-to-current-spot__value {
    margin-right: .4rem
}

.payout-per-point-mobile .actions-wrapper .distance-to-current-spot__value {
    background-color: var(--general-section-1);
    border: none;
    border-bottom: 1px dotted var(--text-general);
    cursor: pointer;
    display: flex;
    margin-top: .5rem;
    padding: 0
}

[dir=ltr] .payout-per-point-mobile .actions-wrapper .distance-to-current-spot__value .indicator-icon {
    margin-left: .2rem
}

[dir=rtl] .payout-per-point-mobile .actions-wrapper .distance-to-current-spot__value .indicator-icon {
    margin-right: .2rem
}

.payout-per-point-mobile .save-button {
    border: 1px solid var(--text-less-prominent);
    color: var(--text-prominent);
    font-weight: 700;
    margin-top: auto;
    padding: .8px 1.6rem;
    width: 100%
}

.payout-selector {
    width: 100%
}

.payout-selector .payout-field {
    display: flex
}

[dir=ltr] .payout-selector .payout-field .indicator-icon {
    margin-left: .4rem
}

[dir=rtl] .payout-selector .payout-field .indicator-icon {
    margin-right: .4rem
}

.payout-selector .payout-value {
    margin-left: 6.2rem
}